version: "3.1"

services:
  pst-issuer:
    image: sec4you/pst-issuer:latest
    build:
      context: ./
      dockerfile: ./Dockerfile
    container_name: pst-issuer
    environment:
      - PRIVATE_KEY1
      - PUBLIC_KEY1
      - EXPIRY1
      - PRIVATE_KEY2
      - PUBLIC_KEY2
      - EXPIRY2
    networks:
      pstnet:
        aliases:
          - issuer
    ports:
      - 3000:3000
networks:
  pstnet:
